{driver, basho_bench_driver_erlsemaphore}.
{code_paths, ["../ebin"]}.
{pre_hook, {basho_bench_driver_erlsemaphore, init}}.
{mode, max}.
{duration, 5}.  %% minutes
{concurrent, 1}.
{operations, [
    {wait, 1},
    {signal, 1}
]}.
{report_interval, 5}.
{key_generator,
    {int_to_bin_bigendian,
        {uniform_int, 1000}}}.
{value_generator,
    {uniform_int, 5}}.
